* {
  margin: 0;
  
}

  /* instruction et Porfolio */

a {
  padding: 10px;
  font-size: 2em;
}

  /* Menu nav (Instructions et Portfolio) en flexbox avec flex-end */

.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

/* Titre + description et avatar en flex avec column */

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3.5em;
  padding-bottom: 15px;
}

  /* la liste de compétences est sur la même ligne pour les écrans 
  supérieurs à 700 px */

.skills {
  display: flex;
  justify-content: center;
}

  /* Lorsque les compétences de la liste sont sur la même ligne , 
  le bloc de compétences avant doit être à 
  gauche et le bloc de compétences arrière à droite 
  pour les écrans supérieurs à 700px */

.skills {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}

  /* Bonus : Dans la liste des projets il y a 2 projets en développement, 
  sans site associé pour le moment.
  Ainsi, vous pouvez faire de l' opacité sur le texte pour tous les écrans */
  
.disabled {
    opacity: 0.33;
  }

/* titre "My recent work" + description 
  avec flex direction column */

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 30px 30px 30px;
}

h2 {
  font-size: 2em;
}

    /* Super Bonus : La liste 
    des projets doit être sur la même ligne pour 
    les tailles d'écran supérieures à 700px */

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.pink-bg {
  background-color: pink;
}

.pink-text {
  color: pink;
}

.purple-text {
  color: #750ff7;
}

.description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.description p {
  width: 60%;
  text-align: center;
}

.desktop {
  margin: 80px 0 -5px 0;
}

  /* Mise en page de mon bouton "Modify text and color" */

.buttonM {
  width: 20%;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
}


.skills {
  border-radius: 12px;
}

.column {
  border-left: 1px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
  border-bottom: 1px solid #e6ecf8;
  background-color: #ffffff;
  padding: 60px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

.column:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.column:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.box {
  width: 25%;
  padding: 30px;
  border: 1px solid #e6ecf8;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

img {
  max-width: 100%;
}

.projects a {
  color: #750ff7;
}

p {
  padding: 0 15px 15px;
  font-size: 2em;
}


    /* responsive sur un écran inférieur à 700px */


@media (max-width: 700px) {

      /* faire disparaitre image desktop */
.desktop {
  display: none;
}

    /* le bloc de compétence avant est au dessus du bloc de compétences arrières
    pour les écrans de moins de 700px */

.skills {
  display: flex;
  flex-direction: column;
}
}

